@import '../../styles/variables.scss';

.form {
    max-width: 750px;
    width: 100%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    background: $ku-grey-element;
    gap: 20px;
    border-radius: 10px;
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        &__input {
            width: 100%;
            background: $ku-white-element;
            border-radius: 5px;
            padding: 0 10px;
            height: 30px;
            border: none;
            outline: none;
        }
        span {
            display: inline-block;
            font-weight: 500;
            font-size: 14px;
            color: $ku-black-text;
        }
    }
}