* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}


.container {
    display: block;
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    &__min {
        max-width: 800px;
    }
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}