$ku-white-text: #FFFFFF;
$ku-black-text: #222222;
$ku-black-element: #222222;
$ku-orange-text: #FF4D00;
$ku-orange-element: #FF4D00;
$ku-orange-element-hover: #ff6422;
$ku-white-element: #FFFFFF;
$ku-grey-element: #EFEFEF;
$ku-grey-element-hover: #e0e0e0;
$ku-default-hover: #FF4D00;