@import '../../styles/variables.scss';


.funcButton {
    max-width: 200px;
    width: 100%;
    padding: 7px 0;
    background-color: $ku-orange-element;
    color: $ku-white-text;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}