@import '../../styles/variables.scss';

.newsCard {
    max-width: 340px;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: $ku-grey-element;
    &__inner {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: $ku-black-text;
        word-break: break-all;
        font-size: 18px;
        font-weight: 500;
    }

    &__content {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: pre-wrap;
        word-break: break-all;
        font-size: 14px;
        font-weight: 500;
        color: $ku-black-text;
        margin: 5px 0;
    }
    &__button {
        align-self: flex-end;
        background: $ku-orange-element;
        border-radius: 5px;
        padding: 2px 10px;
        font-size: 12px;
        font-weight: 500;
        color: $ku-white-text;
    }
}

.img {
    width: 100%;
    aspect-ratio: 16 / 9;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}